#testLibrary th,#account td{
    text-align: center;
}
.form-group input{
    

}
#addTest input{
    margin-top: 5px;

}
#addTest select{
    width: 100px;
    margin-top: 5px;
}
textarea{
    width: 100%;
    height: 200px;
}